<div class="container">
    <div class="col-lg-5" id="uneaten">
      <h2>Hot & Ready Burgers Here!</h2>
      <ul>
        {{#each burgers}}
          {{#unless this.devoured}}
            <li>
                {{this.id}}. {{this.burger_name}}  
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-5" id="eaten">
      <h2>These Ones Have Been Devoured!</h2>
      <ul>
        {{#each burgers}}
          {{#if devoured}}
            <li>
                {{this.id}}. {{this.burger_name}} 
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
   

    <div class="container clear txt-cntr" id="create_burger">
      <h2>Not Seeing One You Like, Add a Burger / Sandwich Here: </h2>
      <form class="create-form">

        <div class="form-group">
          <label for="ca">Burger/Sandwich Name: </label>
          <input type="text" id="ca" name="name">
        </div>

        <div class="form-group">
          <label for="devoured"> Eaten or Not Eaten? That is the question</label><br>
          <input type="radio" name="devoured" value="1" checked> Devoured<br>
          <input type="radio" name="devoured" value="0"> Hungry?
        </div>

        <button id="submit" type="submit">Suggestions Box</button>
      </form>
    </div>

</div> 