* {
	box-sizing: border-box;	
}

body {
	background-color: black;
	color: white;
  /*background-image: url(img/tots.jpg);*/
  font-family: Helvetica, Arial, sans-serif;
}

.jumbotron {
	text-align: center;
	background-color: crimson;
	color: black;
}

li {
  padding: 5px;
  margin: 5px;
  background: #efefef;
  color: black;
  list-style: none;
}

#eaten {
  /*background-color: crimson;
  color: black;*/
}

#uneaten{
	/*background-color: crimson;
	color: black;*/
}

ul {
  padding: 0;
}

h2 {
  text-align: center;
}

.label {
  font-weight: bold;
}

.create-form {
  padding: 5px;
  margin: 5px;
  margin-top: 25px;
}

.form-group {
  margin: 0 auto;
  margin-bottom: 5px;
  width: 400px;
}

.container {

}

.cntr {
  margin: 0 auto;
}

.txt-cntr {
    text-align: center;
}

.content {
  width: 1000px;
}

#ca {
	color: black;
}

textarea {
  width: 100%;
  height: 100px;
  color: black;
}

#submit {
	color: black;
}